<forge-exception *ngIf="error" [error]="error"
                 (onCancel)="cancel($event)">
</forge-exception>
<pfng-wizard *ngIf="!error" #wizard
             [config]="config"
             (onCancel)="cancel($event)"
             (onNext)="nextClicked($event)"
             (onPrevious)="previousClicked($event)"
             (onStepChange)="stepChanged($event)">

  <div [formGroup]="form" [ngSwitch]="currentGui.metadata?.name">
    <pfng-wizard-step [config]="steps[2]">
      <spinner [loading]="isLoading"></spinner>
      <pfng-wizard-substep [config]="steps[7]">
        <span>
          Create Your own stack
          <!--<machine-stacks></machine-stacks>-->
        </span>
      </pfng-wizard-substep>
    </pfng-wizard-step>
  </div>
</pfng-wizard>
